/* font-family: 'Nunito', sans-serif;
font-family: 'Palanquin Dark', sans-serif;
font-family: 'Poppins', sans-serif; */

body {
  background-color: rgb(239, 239, 234);
}
.navbar-brand {
  font-size: 64px;
  font-family: "Palanquin Dark", sans-serif;
  margin-top: -14px;
}
.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 10px;
  text-align: center;
  color: aliceblue;
}
.text {
  font-family: "Palanquin Dark", sans-serif;
  font-size: 52px;
  text-shadow: 5px 4px 5px rgba(0, 0, 0, 0.6);
}
h1 {
  font-family: "Palanquin Dark", sans-serif;
  font-size: 52px;
  color: rgb(255, 29, 0);
}
h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 600px;
}
.contact {
  background-color: #f9dee3;
  border-radius: 20px;
  margin-bottom: 30px;
}
h3 {
  font-family: "Palanquin Dark", sans-serif;
  font-size: 45px;
  margin-top: 49px;
  margin-left: 119px;
  margin-bottom: 87px;
}
.workTogether {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  margin-top: -80px;

  margin-bottom: 42px;
  margin-left: 119px;
}
.contact-button {
  display: flex;
  width: 200px;
  padding: 18px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-top: 71px;
  margin-bottom: 66px;
  margin-right: 121px;
}

footer {
  background-color: rgb(40, 35, 35);
}
.logo {
  font-family: "Palanquin Dark", sans-serif;
  font-size: 45px;
  margin-bottom: 3px;
  margin-top: 3px;
}
.socialMediaIcons {
  font-size: 25px;
  padding: 10px;
  margin-top: 10px;
}
.copy {
  margin-top: 25px;
  font-size: 13px;
}
.instgram {
  color: white;
}
.profile-pic {
  width: 450px;
}
.pic-info,
.info {
  background-color: #f9dee3;
}
.info2 {
  margin-right: 150;
  background-color: #f9dee3;
  margin-right: 200px;
}
